*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #682a91;
    font-family: Arial, Helvetica, sans-serif;
    background:url("img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
    
  nav {
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  nav .logo {
    width: 25%;
    text-align: center;
    /*background: red;*/
  }
  
  nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  
  nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav .menu a:first-child {
    color: #00b894;
  }
  .wrapper{
    /* background: linear-gradient(rgba(255,255,255,0.5))50%; */
    background-color: rgba(255,255,255,0.5);
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  }
  .wrapper h2{
    background-color: #fcfcfc;
    color: #4721d3;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px dotted #333;
  }
  h3{
    padding-bottom: 5px;
    color: #4721d3;
  }
  .input-group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
  }
  .input-box{
    width: 100%;
    margin-right: 12px;
    position: relative;
  }
  .input-box:last-child{
    margin-right: 0;
  }
  .name{
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #00000033;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
  }
  .name:focus, .dob:focus{
    -webkit-box-shadow:0 0 2px 1px #4721d3;
    -moz-box-shadow:0 0 2px 1px #4721d3;
    box-shadow: 0 0 2px 1px #4721d3;
    border: 1px solid #4721d3;
  }
  .input-box .icon{
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #00000033;
    border-right: none;
  }
  .name:focus + .icon{
    background-color: #3321d3;
    color: #fff;
    border-right: 1px solid #2421d3;
    border: none;
    transition: 1s;
  }
  .dob{
    width: 30%;
    padding: 14px;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
  }
  .radio{
    display: none;
  }
  .input-box label{
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
  }
  .input-box label:first-of-type{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
  }
  .input-box label:last-of-type{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .radio:checked + label{
    background-color: #4221d3;
    color: #fff;
    transition: 0.5s;
  }
  .input-box select{
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .input-box select:focus{
    background-color: #213cd3;
    color: #fff;
    text-align: center;
  }
  button{
    width: 100%;
    background: transparent;
    border: none;
    background: #4221d3;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
  }
  button:hover{
    cursor: pointer;
    background: #4721d3;
  }